@media (max-width: 768px) {
    .introducao {
        flex-direction: column;
        padding-top: 40px;
    }
}
.introducao {
    background-image: linear-gradient(to bottom, black, #0c1b44); 
    background-color: #030e2d;
    height: 100vh;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
    padding: 20px;
    h1 {
        font-size: 4em;
        font-weight: bold;
        color: white;
    }
    h2 {
        font-size: 2em;
        color: #95b9c6;
    }
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #1b41aa;
    padding: 10px 20px;
    border-radius: 5px;
    &:hover {
        text-decoration: underline;
    }
}
