@media (max-width: 600px) {
    .introducao {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 8px;
        }
    }
}
.introducao {
    h1 {
        font-size: 4em;
        font-weight: bold;
    }
    h2 {
        font-size: 2em;
        color: gray;
    }
    a {
        text-decoration: none;
        color: blue;
        &:hover {
            text-decoration: underline;
        }
    }
}